@import url("bootstrap-icons.css");

:root {
  --bs-warning-rgb: 254, 227, 221;
  --bs-secondary-rgb: 224, 224, 224;
  --bs-success-rgb: 140, 197, 83;
  --text-primary-rgb: rgb(11, 105, 251);
  --text-passed-rgb: rgb(120, 177, 63);
  --text-failed-rgb: rgb(var(--bs-danger-rgb));
  --failed-border-color: rgb(238, 169, 171);
}

/* structure */
body {
  font-family: Inter, Roboto, system-ui, -apple-system, BlinkMacSystemFont, Ubuntu, 'Helvetica Neue', sans-serif;
  font-size: 14px;
}
h6 {
  font-size: 16px;
}
pre {
  background-color: #f8f9fa;
  white-space: pre-wrap;
  margin-bottom: 0;
  height: 15rem;
  word-break: break-all;
  padding: 1rem;
  resize: vertical;
}
.form-control {
  font-size: inherit;
}
input.form-control {
  -webkit-text-fill-color: #696969 !important;
}

/* container */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* table */
table tbody tr:last-child {
  border-bottom-color: transparent !important;
}
th {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 85%;
}

/* text */
.text-bg-secondary {
  color: inherit !important;
}
.small {
  font-size: 12px;
}
.smaller {
  font-size: 10px;
}
.fs-6 {
  font-size: 0.95rem;
}

/* navbar */
.navbar-brand {
  color: var(--text-primary-rgb);
  font-size: 16px;
}

/* card */
.card {
  border-color: #e2e6e8;
  box-shadow: none;
  border-radius: 0;
}
.card .card-body {
  padding: .75rem 1rem;
}
.card.failed {
  border-color: var(--failed-border-color);
}
.card .card-header, .modal-header {
  border-bottom: none;
}
.card .card-footer, .modal-footer {
  border-top: none;
}

/* modal */
.modal-lg {
  max-height: 95%;
  max-width: 95%;
  width: 95%;
}
.modal img {
  max-width: 100%;
}
#attachment-modal .modal-body {
  margin-left: auto;
  margin-right: auto;
}

/* button */
.btn-sm {
  padding: .25rem .75rem !important;
  font-size: 12px;
}

/* badge */
.badge {
  font-size: 10px;
  padding: .35rem .5rem;
  font-weight: normal;
}
.badge.text-lg {
  font-size: 12px;
}
.badge.badge-outline {
  border: 1px solid #bbb;
  color: inherit;
}
.badge.badge-outline-primary {
  border-color: var(--text-primary-rgb) !important;
  color: var(--text-primary-rgb) !important;
}
.rounded-pill {
  background-color: transparent !important;
  color: inherit !important;
  border: 1px solid #bbb;
}

/* progress bar */
.progress {
  --bs-progress-height: 1.5rem;
}
.progress .progress-bar {
  color: #000;
}

/* content */
.testname.failed {
  color: var(--text-failed-rgb);
}
.testname.passed {
  color: var(--text-passed-rgb);
}
.embed img {
  max-width: 100%;
}
p.desc {
  margin-top: .15rem;
  margin-left: 1.5rem;
  color: var(--bs-secondary);
}

/* dark theme */
body[data-bs-theme="dark"] {
  --failed-border-color: rgba(210, 130, 130, .5);
}
body[data-bs-theme="dark"],
body[data-bs-theme="dark"] .card,
body[data-bs-theme="dark"] .form-control,
body[data-bs-theme="dark"] .table>:not(caption)>*>* {
  background-color: rgb(19, 25, 34);
}
body[data-bs-theme="dark"] .card:not(.failed),
body[data-bs-theme="dark"] .border,
body[data-bs-theme="dark"] .border-bottom,
body[data-bs-theme="dark"] .badge.badge-outline:not(.badge-outline-primary),
body[data-bs-theme="dark"] .rounded-pill,
body[data-bs-theme="dark"] tr,
 body[data-bs-theme="dark"] img {
  border-color: #253543 !important;
}
body[data-bs-theme="dark"] #dashboard .card,
body[data-bs-theme="dark"] #tags .card {
  border-color: transparent !important
}
body[data-bs-theme="dark"] pre,
body[data-bs-theme="dark"] .bg-light,
body[data-bs-theme="dark"] .bg-body-tertiary {
  background-color: rgb(27, 37, 49) !important;
}
body[data-bs-theme="dark"] .bg-light {
  color: inherit !important;
}
body[data-bs-theme="dark"] .text-bg-info {
  background-color: rgb(95, 186, 247) !important;
}
body[data-bs-theme="dark"] .text-bg-warning {
  background-color: rgb(197, 104, 92) !important;
}
