<div class="page">
  <app-header />

  <!-- main-content -->
  <div class="main-content app-content">
      <div class="page-header">
          <div class="container-fluid">
              <div class="d-flex">
                  <h4>Projects</h4>
              </div>
          </div>
      </div>

      <div class="main-container container-fluid">
          <div class="mt-3 mb-3 d-flex justify-content-between">
              <button type="button" class="btn btn-outline-light btn-sm">
                  <i class="bi bi-funnel"></i> Add Filters
              </button>
              <button type="button" class="btn btn-outline-light btn-sm">
                  Showing 9 per page
              </button>
          </div>

          <div class="row" *ngIf="projects && projects.content.length && projects.content[0].builds">
            <div class="col-4" *ngFor="let project of projects.content">
              <div class="card card-custom no-bg d-on-hover" *ngIf="project.builds">
                <div class="card-header">
                  <h5 class="mb-0 pointer" [routerLink]="['projects', project.id, 'builds']">{{project.name}}</h5>
                  <div class="ms-auto fs-6">
                    <i class="bi bi-check-circle-fill text-success" *ngIf="project.builds.content[0].result.toString() == 'PASSED'"></i>
                    <i class="bi bi-x-circle-fill text-danger" *ngIf="project.builds.content[0].result.toString() != 'PASSED'"></i>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-4">
                      <small class="card-text-sm text-muted mb-1">Builds</small>
                      <h6>{{project.builds.totalElements}}</h6>
                    </div> 
                    <div class="col-8">
                      <small class="card-text-sm text-muted mb-1">Last Build</small>
                      <h6>{{project.builds.content[0].startedAt | timeago}}</h6>
                    </div> 
                  </div>
                </div>
                <div class="card-footer no-bg">
                  <div class="d-flex flex-row">
                    <a class="status-bar" 
                      *ngFor="let build of project.builds.content | slice:0:12"
                      [ngClass]="{'status-success': build.result.toString() == 'PASSED', 'status-failure': build.result.toString() != 'PASSED'}"
                      [routerLink]="['projects', project.id, 'builds', build.id]"
                      ngbTooltip="{{build.result}}, {{build.startedAt | timeago}} - Took {{moment.utc(build.durationMs).format('HH:mm:ss')}}"
                      tooltipClass="text-sm">
                    </a>
                    <div class="ms-auto pointer" ngbDropdown>
                      <span ngbDropdownToggle><i class="bi bi-three-dots"></i></span>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Delete build</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="my-5">
              <app-paginate [entity]="projects" *ngIf="projects.totalPages >= 2"></app-paginate>
            </div>
          </div>
      </div>
  </div>
  <!-- /main-content -->

  <app-footer />
</div>


<ng-template #popoverTitle>Fancy <b>content!!</b></ng-template>