<!-- main-content -->
<div class="main-content app-content">
  <div class="page-header">
    <div class="container">
      <div class="d-flex justify-content-between">
        <h4>Insights - All projects</h4>
        <div>
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="buildTimeRangeDropdown" ngbDropdownToggle>
              Time Range ({{ buildTimeAgoFilterDays }} days)
            </button>
            <div ngbDropdownMenu aria-labelledby="buildTimeRangeDropdown">
              <button ngbDropdownItem (click)="buildsWithinTimeRange(1)" [ngClass]="{'active': buildTimeAgoFilterDays == 1}">Past 1 day</button>
              <button ngbDropdownItem (click)="buildsWithinTimeRange(2)" [ngClass]="{'active': buildTimeAgoFilterDays == 2}">Past 2 days</button>
              <button ngbDropdownItem (click)="buildsWithinTimeRange(7)" [ngClass]="{'active': buildTimeAgoFilterDays == 7}">Past 7 days</button>
              <button ngbDropdownItem (click)="buildsWithinTimeRange(14)" [ngClass]="{'active': buildTimeAgoFilterDays == 14}">Past 14 days</button>
              <button ngbDropdownItem (click)="buildsWithinTimeRange(30)" [ngClass]="{'active': buildTimeAgoFilterDays == 30}">Past 30 days</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <ng-container *ngIf="projectPage && projectPage.content">
      <app-executions-trend [builds$]="builds$"></app-executions-trend>

      <div class="row" *ngIf="data && data.datasets && data.datasets.length">
        <div class="col">
          <div class="card pb-3">
            <div class="card-header pt-3">
              <h5>Time Taken Comparison (minutes)</h5>
            </div>
            <div class="card-body py-0">
              <div class="mx-auto" style="min-height: 300px">
                <canvas baseChart [type]="chartType" [data]="data" [options]="options"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="buildStatusReady">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5>Build Status</h5>
            </div>
            <div class="card-body pb-0">
              <table class="table">
                <thead>
                  <tr>
                    <th>Project Name</th>
                    <th colspan="19">Newest -> Oldest Builds</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let project of projectPage.content">
                    <td>{{ project.name }}</td>
                    <ng-container *ngIf="project.builds && project.builds.content">
                      <td *ngFor="let build of project.builds.content">
                        <span class="" role="button" [routerLink]="['/', 'projects', project.id, 'builds', build.id]">
                          <i class="bi bi-check-circle-fill text-success" *ngIf="build.result == 'PASSED'"></i>
                          <i class="bi bi-x-circle-fill text-danger" *ngIf="build.result != 'PASSED'"></i>
                        </span>
                      </td>
                      <td *ngIf="project.builds.content.length < 20" 
                        colspan="20 - project.builds.content.length"></td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<!-- /main-content -->
