<header class="px-3 py-2 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a [routerLink]="['']" class="pointer text-primary fw-semibold fs-6 me-5">
        ChainTest
      </a>

      <ul class="nav col-auto me-auto justify-content-center mb-md-0">
        <li><a [routerLink]="['/']" class="nav-link px-2 link-dark">Projects <i class="bi bi-chevron-right" *ngIf="project"></i></a></li>
        <li *ngIf="project"><a [routerLink]="['projects', projectId, 'builds']" class="nav-link px-2 link-dark">{{project.name}} <i class="bi bi-chevron-right"></i></a></li>
        <li class="header-link" [ngClass]="{'active': uri == 'builds'}" *ngIf="project">
          <a [routerLink]="['projects', projectId, 'builds']" class="nav-link">Builds</a>
        </li>
        <li class="header-link" [ngClass]="{'active': buildId}" *ngIf="buildId">
          <a [routerLink]="" class="nav-link">#{{buildId}}</a>
        </li>
        <li class="header-link" [ngClass]="{'active': uri == 'metrics'}" *ngIf="project">
          <a [routerLink]="['projects', projectId, 'metrics']" class="nav-link">Metrics</a>
        </li>
      </ul>

      <form class="w-25 me-3" role="search">
        <div class="input-group">
          <span class="input-group-text bg-body"><i class="bi bi-search small"></i></span>
          <input type="search" name="searchTerm" class="form-control" placeholder="Search everywhere..." 
            aria-label="Search" [(ngModel)]="searchTerm" (keyup.enter)="search(content, true)">
          <span class="input-group-text pointer" *ngIf="page && page.content" 
            (click)="openEnd(content)"><i class="bi bi-layout-text-sidebar"></i></span>
          <input type="submit" style="display: none" />
        </div>
      </form>

      <button type="button" class="btn btn-outline-secondary btn-sm ms-1"[routerLink]="['/', 'settings']">
        <i class="bi bi-sliders"></i>
      </button>
    </div>
  </div>
</header>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header d-flex justify-content-between">
    <input type="search" name="searchTerm" class="ms-2 w-50 form-control rounded-3" placeholder="Search everywhere..." 
          aria-label="Search" [(ngModel)]="searchTerm" (keyup.enter)="search(content, false)">
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body px-4">
    <div *ngIf="page && page.content">
      <ng-container *ngFor="let test of page.content">
        <ng-container>
          <app-test [test]="test" [bdd]="test.bdd" [showMeta]="true" />
        </ng-container>
      </ng-container>
    </div>
    <div class="text-center py-5" *ngIf="page.number < page.totalPages-1">
      <button type="button" class="btn btn-outline-primary" (click)="search(content, false, pageNum + 1)">Load more results</button>
    </div>
  </div>
</ng-template>