<!-- main-content -->
<div class="main-content app-content">
  <div class="page-header">
      <div class="container">
          <div class="d-flex justify-content-between">
              <h4>Projects</h4>
              <div>
                <button class="btn btn-outline-primary" [routerLink]="['/', 'projects', 'insights']">
                  <i class="bi bi-journals me-1"></i> Insights</button>
              </div>
          </div>
      </div>
  </div>

  <div class="container">
    <div class="mt-5 mb-3">
      <div>
        <div class="input-group">
          <span class="input-group-text bg-body"
            title="Search all projects using: name, tags or the test-runner name"><i class="bi bi-search small"></i></span>
          <input type="text" class="form-control" placeholder="Search projects.." style="height:50px;"
            aria-label="Search projects.." aria-describedby="basic-addon2" 
            [(ngModel)]="q" (ngModelChange)="search()" 
            title="Search all projects using: name, tags or the test-runner name" />
            <span class="input-group-text small" *ngIf="projectPage">
              Showing {{projectPage.numberOfElements}} of {{projectPage.totalElements}} projects</span>
            <button class="btn btn-primary" type="button" (click)="search()">Search</button>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="projectPage && projectPage.content.length && projectPage.content[0].builds">
      <ng-container *ngFor="let project of projectPage.content">
        <div class="col-4" *ngIf="project.display">
          <div class="card d-on-hover" *ngIf="project.builds">
            <div class="card-header d-flex">
              <h5 class="mb-0 pointer" [routerLink]="['/', 'projects', project.id, 'builds']">{{project.name}}</h5>
              <div class="ms-auto fs-6" *ngIf="project.builds.content.length">
                <i class="bi bi-check-circle-fill text-success" *ngIf="project.builds.content[0].result == 'PASSED'"></i>
                <i class="bi bi-x-circle-fill text-danger" *ngIf="project.builds.content[0].result != 'PASSED'"></i>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <small class="card-text-sm text-muted mb-1">Builds</small>
                  <p>{{project.builds.totalElements}}</p>
                </div> 
                <div class="col-8">
                  <small class="card-text-sm text-muted mb-1">Last Build</small>
                  <p *ngIf="project.builds.content.length">{{project.builds.content[0].startedAt | timeago}}</p>
                  <p *ngIf="!project.builds.content.length">No runs</p>
                </div> 
              </div>
            </div>
            <div class="card-footer no-bg" style="height:53px">
              <div class="d-flex flex-row">
                <a class="status-bar" 
                  *ngFor="let build of project.builds.content | slice:0:12"
                  [ngClass]="{'status-success': build.result.toString() == 'PASSED', 'status-failure': build.result.toString() != 'PASSED'}"
                  [routerLink]="['/', 'projects', project.id, 'builds', build.id]"
                  ngbTooltip="{{build.result}}, {{build.startedAt | timeago}} - Took {{moment.utc(build.durationMs).format('HH:mm:ss')}}"
                  tooltipClass="text-sm">
                </a>
                <div class="ms-auto pointer d-on-hover-target" ngbDropdown>
                  <span ngbDropdownToggle><i class="bi bi-three-dots"></i></span>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="del(project)">Delete project</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<!-- /main-content -->
