<!-- main-content -->
<div class="main-content app-content">
	<div class="page-header">
		<div class="container">
			<div class="d-flex">
					<h4>Metrics</h4>
			</div>
		</div>
	</div>

	<div class="container mt-4">
    <div class="row">
      <div class="col">
        <app-builds-duration [builds]="buildPage" [maxHeight]="150" *ngIf="buildPage"></app-builds-duration>
      </div>
      <div class="col">
        <app-build-test-growth [builds]="buildPage" [maxHeight]="150" *ngIf="buildPage"></app-build-test-growth>
      </div>
    </div>
    
		<div class="row" *ngIf="failingTestsPage && failingTestsPage.content">
			<div class="col-12">
        <div class="card">
          <div class="card-header">
            <h6>Failing tests</h6>
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col" style="width:50px">ID</th>
                  <th scope="col" style="width: 30%">Name</th>
                  <th scope="col">Time</th>
                  <th scope="col">Started</th>
                  <th scope="col">Ended</th>
                  <th scope="col">Error</th>
                  <th scope="col" style="width: 120px">Build</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let test of failingTestsPage.content">
                  <td>{{test.id}}</td>
                  <td>{{test.name}}</td>
                  <td>{{test.durationMs | prettyTime}}</td>
                  <td>{{test.startedAt | date:'yyyy-MM-dd h:m:s a'}}</td>
                  <td>{{test.endedAt | date:'yyyy-MM-dd h:m:s a'}}</td>
                  <td>
                    <span class="badge badge-danger" role="button" *ngIf="test.error" (click)="selectedTest = test; openEnd(content)">
                      <i class="bi bi-exclamation-circle text-danger"></i></span>
                  </td>
                  <td>
                    <span class="badge badge-outline" role="button" [routerLink]="['/', 'projects', projectId, 'builds', test.buildId]">
                      <i class="bi bi-box-arrow-up-right me-2"></i>Go to build</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
		</div>
	</div>
</div>
<!-- /main-content -->

<ng-template #content let-offcanvas>
  <div class="offcanvas-header d-flex justify-content-between">
    <h5>{{selectedTest.name}}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body px-4">
    <pre class="my-0" style="max-height: fit-content">{{selectedTest.error}}</pre>
  </div>
</ng-template>
