<!-- main-content -->
<div class="main-content app-content">
	<div class="page-header">
		<div class="container">
			<div class="d-flex justify-content-between">
				<h4>Metrics<span *ngIf="projectName"> - {{projectName}}</span></h4>
				<div>
					<app-project-settings></app-project-settings>
				</div>
			</div>
		</div>
	</div>

	<div class="container mt-4" *ngIf="buildPage && buildPage.content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header pb-0">
            <h6>Build History</h6>
          </div>
          <div class="card-body pb-0">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th scope="col" *ngFor="let build of buildPage.content">
                    #{{build.id}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr style="border-bottom-color: transparent;">
                  <td>Result</td>
                  <td *ngFor="let build of buildPage.content">
                    <span role="button" [routerLink]="['/', 'projects', projectId, 'builds', build.id]">
                      <i class="bi" [ngClass]="{
                        'bi-check-circle-fill text-success': build.result === 'PASSED',
                        'bi-x-circle-fill text-danger': build.result === 'FAILED'
                      }"></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-builds-duration [builds]="buildPage" [maxHeight]="150" *ngIf="buildPage"></app-builds-duration>
      </div>
      <div class="col">
        <app-build-test-growth [builds]="buildPage" [maxHeight]="150" *ngIf="buildPage"></app-build-test-growth>
      </div>
    </div>
    
		<div class="row" *ngIf="failingTestsPage && failingTestsPage.content">
			<div class="col-12">
        <div class="card">
          <div class="card-header text-danger pb-0">
            <h6>Failing tests</h6>
          </div>
          <div class="card-body">
            <table class="table table-hover table-hover-danger">
              <thead>
                <tr>
                  <th scope="col" style="width: 50%">Name</th>
                  <th scope="col">Time</th>
                  <th scope="col">Started</th>
                  <th scope="col">Ended</th>
                  <th scope="col" style="width: 120px">Build</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let test of failingTestsPage.content">
                  <td>
                    <span class="text-primary" role="button" (click)="selectedTest = test; openEnd(content)">{{test.name}}</span>
                    <div class="mt-1">
                      <span class="badge badge-outline me-1" *ngFor="let tag of test.tags">
                        {{tag.name}}
                      </span>
                    </div>
                  </td>
                  <td>{{test.durationMs | prettyTime}}</td>
                  <td>{{test.startedAt | date:'yyyy-MM-dd h:m:s a'}}</td>
                  <td>{{test.endedAt | date:'yyyy-MM-dd h:m:s a'}}</td>
                  <td>
                    <span class="badge badge-outline" role="button" [routerLink]="['/', 'projects', projectId, 'builds', test.buildId]">
                      <i class="bi bi-box-arrow-up-right me-2"></i>Build {{test.buildId}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
		</div>
	</div>
</div>
<!-- /main-content -->

<ng-template #content let-offcanvas>
  <div class="offcanvas-header d-flex justify-content-between">
    <h5>{{selectedTest.name}}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body px-4">
    <app-test [test]="selectedTest" [showMeta]="true"></app-test>
  </div>
</ng-template>
