<header class="app-header">
  <div class="main-header-container container-fluid">
      <div class="header-content-left align-items-center">
          <div class="header-element">
            <a href="/" class="text-primary fw-bold fs-6">
                ChainTest
            </a>
          </div>

          <div class="main-header-center ms-3 d-sm-none d-md-none d-lg-block form-group">
              <a href="" class="ms-5">Workspaces <i class="bi bi-chevron-right mx-1"></i>
                <span class="">chaintest-core</span></a>
              <span class="mx-3"></span>
              <a href="">Builds</a>
              <span class="mx-3"></span>
              <a href="">Tags</a>
              <span class="mx-3"></span>
              <i class="bi bi-search"></i>
          </div>
      </div>

      <div class="header-content-right">
          <div class="header-element">
              <a href="#" class="header-link">

              </a>
          </div>
      </div>
  </div>
</header>