<header class="px-3 py-2 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="text-primary fw-semibold fs-6 me-5">
        ChainTest
      </a>

      <ul class="nav col-auto me-auto justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
        <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
      </ul>

      <form class="w-25 me-3" role="search">
        <input type="search" class="form-control rounded-3" placeholder="Search..." aria-label="Search">
      </form>

      <span class="pointer border rounded-5 px-2 py-1"><i class="bi bi-sliders"></i></span>
    </div>
  </div>
</header>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Offcanvas title</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <div *ngIf="page && page.content">
      <div *ngFor="let feature of page.content">
        {{feature.name}}
        <div *ngIf="feature.children">
          <div *ngFor="let scenario of feature.children">
            &nbsp; &nbsp; {{scenario.name}}
            <div *ngIf="scenario.children">
              <div *ngFor="let step of scenario.children">
                &nbsp; &nbsp; &nbsp; &nbsp; {{step.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-end">
      <button type="button" class="btn btn-outline-secondary" (click)="offcanvas.close('Close click')">Close</button>
    </div>
  </div>
</ng-template>