<!-- main-content -->
<div class="main-content app-content">
  <div class="page-header">
      <div class="container">
          <div class="d-flex">
              <h4>Settings
                <span class="small">v{{version}}</span>
              </h4>
          </div>
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-underline pt-4">
            <li [ngbNavItem]="1">
              <button ngbNavLink>General</button>
              <ng-template ngbNavContent>
                <div class="row">
                  <div class="col-3">
                    <h5>Theme</h5>
                    <div class="text-secondary">
                      Theme can be changed anywhere in the app by pressing the 'L' key
                    </div>
                  </div>
                  <div class="col-1"></div>
                  <div class="col-3">
                    <select class="form-select" aria-label="Select theme" (change)="changeTheme($event)">
                      <option value="{{theme.val}}"
                        [selected]="theme.val === activeTheme"
                        *ngFor="let theme of themes">{{theme.name}}</option>
                    </select>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <button ngbNavLink>Secrets</button>
              <ng-template ngbNavContent>
                <div class="row mb-5">
                  <div class="col-3">
                    <h5>S3 Security Credentials</h5>
                    <div class="text-secondary">
                      AWS access keys consist of an access key ID and a secret access key. 
                      These keys are used to sign programmatic requests that you make to AWS services.
                    </div>
                  </div>
                  <div class="col-1"></div>
                  <div class="col-8">
                    <div class="row">
                      <div class="input-group">
                        <input type="password" class="form-control" placeholder="AWS_ACCESS_KEY_ID"
                          aria-label="AWS_ACCESS_KEY_ID" [(ngModel)]="awsSecrets['aws.accessKeyId']"
                          title="Specifies an AWS access key associated with an IAM account" />
                        <input type="password" class="form-control" placeholder="AWS_SECRET_ACCESS_KEY"
                          aria-label="AWS_SECRET_ACCESS_KEY" [(ngModel)]="awsSecrets['aws.secretAccessKey']"
                          title="Specifies the secret key associated with the access key. This is essentially the password for the access key" />
                        <input type="text" class="form-control" placeholder="AWS_REGION"
                          aria-label="AWS_REGION" [(ngModel)]="awsSecrets['aws.region']"
                          title="Identifies the AWS Region whose servers you want to send your requests to by default" />
                        <button class="btn btn-primary" type="button" (click)="saveSecrets(awsSecrets)">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-3">
                    <h5>Azure Blob Credentials</h5>
                    <div class="text-secondary">
                      Azure Tenant ID, Client ID, and Client Secret are required to authenticate with Azure Blob Storage
                    </div>
                  </div>
                  <div class="col-1"></div>
                  <div class="col-8">
                    <div class="row">
                      <div class="input-group">
                        <input type="password" class="form-control" placeholder="AZURE_TENANT_ID"
                          aria-label="AZURE_TENANT_ID" [(ngModel)]="azureSecrets.AZURE_TENANT_ID"
                          title="The Microsoft Entra tenant (directory) ID" />
                        <input type="password" class="form-control" placeholder="AZURE_CLIENT_ID"
                          aria-label="AZURE_CLIENT_ID" [(ngModel)]="azureSecrets.AZURE_CLIENT_ID"
                          title="The client (application) ID of an App Registration in the tenant" />
                        <input type="password" class="form-control" placeholder="AZURE_CLIENT_SECRET"
                          aria-label="AZURE_CLIENT_SECRET" [(ngModel)]="azureSecrets.AZURE_CLIENT_SECRET"
                          title="A client secret that was generated for the App Registration" />
                        <button class="btn btn-primary" type="button" (click)="saveSecrets(azureSecrets)">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-3">
                    <h5>Azure Blob Connection String</h5>
                    <div class="text-secondary">
                      Azure Blob Storage connection string is a string that contains the authentication information required for your application to access data in an Azure Storage account at runtime using Shared Key authorization.
                    </div>
                  </div>
                  <div class="col-1"></div>
                  <div class="col-8">
                    <div class="input-group">
                      <input type="password" class="form-control" placeholder="AZURE_STORAGE_CONNECTION_STRING"
                        aria-label="AZURE_ACCESS_CONNECTION_STRING" [(ngModel)]="azureConnectionString.AZURE_ACCESS_CONNECTION_STRING" />
                      <button class="btn btn-primary" type="button" (click)="saveSecrets(azureConnectionString)">Save</button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>
      </div>
  </div>

  <div class="container pt-5">
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
<!-- /main-content -->
